.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-time {
  position: absolute;
  text-align: center;
  margin: auto;
  font-size: 3em;
}

::ng-deep .mat-progress-spinner circle {
  stroke-linecap: round;
}
