<ng-container>
  <mat-form-field>
    <mat-label for="hours">Hours</mat-label>
    <input matInput class="duration-input" name="hours" [(ngModel)]="hours" placeholder="00" type="text"
      (ngModelChange)="check($event, 'hours')" [disabled]="disabled" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="minutes">Minutes</mat-label>
    <input matInput class="duration-input" name="minutes" [(ngModel)]="minutes" placeholder="00" type="text"
      (ngModelChange)="check($event, 'minutes')" [disabled]="disabled" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="seconds">Seconds</mat-label>
    <input matInput class="duration-input" name="seconds" [(ngModel)]="seconds" placeholder="00" type="text"
      (ngModelChange)="check($event, 'seconds')" [disabled]="disabled" required>
  </mat-form-field>
</ng-container>
